<!DOCTYPE html >
	
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="language">
<div class="social">
<div class="fb-like" data-href="http://www.cabranet.com" data-send="false" data-layout="button_count" data-width="30" data-show-faces="true" data-font="arial"></div>
</div>
<div class="social">
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="none"></div>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script></div>
</div><!--end .language-->

<div class="container">

<div class="headermenu">

</div><!--end headermenu-->

<div class="header">
    <ul>
        <li><a href="contact.php">CONTACTO</a></li>
        <li><a href="hosting.php">HOSTING</a> |</li>
        <li><a href="services.php">SERVICIOS</a> |</li>
        <li><a href="design.php">DISEÑO</a> |</li>
    </ul>
</div><!--end header-->


<div class="content">

<div class="specials">

<div class="scroll-bar"> 

<span class="scroll1">
<img src="../images/scrolls/hosting_scroll.png" height="316px" width="500px" alt="Hosting" id="hosting" />
    <div class="scroll-txt">
        <h1>Alojamiento/Hosting</h1>
        <ul>
            <li>Páginas de Web 2.0</li>
            <li>Learning Management</li>
            <li>Páginas de Empresas</li>
            <li>Integración Moviles</li>
            <li>Apps de Android y iOS</li>
        </ul>
    </div><!-- div.scroll-txt -->    
</span><!--end span.Scroll1-->

<span class="scroll2">
<img src="../images/scrolls/alchemy_scroll.png" height="316px" width="500px" alt="Diseño web" id="design" />
<div class="scroll-txt">
<h1>Diseño Web 2.0</h1>
<ul>
    <li>Diseñadas para el futuro</li>
    <li>Learning Management</li>
    <li>Páginas de Empresas</li>
    <li>Integración Moviles</li>
    <li>Apps de Android y iOS</li>
</ul>
</div><!-- div.scroll-txt -->    
</span><!--end span.Scroll2-->

<span class="scroll3">
<img src="../images/scrolls/repair_scroll.png" height="316px" width="500px" alt="repairs" id="repairs" />
<div class="scroll-txt">
<h1>Servicios Informaticos</h1>
<ul>
    <li>Reparaciónes</li>
    <li>Instalaciónes</li>
    <li>Sistemas Educativas</li>
    <li>Recuperación de Datos</li>
    <li>Copias de Seguridad</li>
</ul>
</div><!-- scroll-txt -->    
</span><!--end span.Scroll3-->

</div><!-- end .scroll-bar -->

<div id="next"></div>
<div id="prev"></div>
<div class="show1"></div><!--end .show1-->
<div class="show2"></div><!--end .show2-->
<div class="show3"></div><!--end .show3-->

</div><!-- end .specials -->

</div><!--end content-->

<div class="footer">

</div><!--end footer-->

</div><!--end container-->
